<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Yu'Watch Movie</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Watchlist</a></li>
            <li class="avatar-dropdown">
                <div class="avatar">
                    <img id="user-avatar" src="{{ image }}" alt="Avatar">
                </div>
                <div class="dropdown-content">
                    <a href="{{ url_for('edit_profile' ) }}">Edit Profile</a>
                    <a href="{{ url_for('edit_acc' ) }}">Edit Acc</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="header">
        <video autoplay muted loop>
            <source src="static/assets/videos/hero-video-background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="header-content">
            <h2>Welcome to Yu'Watch Movie</h2>
            <p>Find the best movies based on your preferences and enjoy the ultimate movie experience.</p>
            <div class="box">
                <form action="{{ url_for('recommend') }}" method="POST">
                    <input type="text" id="movie-search" name="movie_name" placeholder="Search your favorite movies here...">
                    <button type="submit" id="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <h2 class="title">Hello {{ name }}, Here is movie recommended for you 🔥</h2>
    <div class="card-section">
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 1</h3>
                <p>Some description of Movie 1.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 2</h3>
                <p>Some description of Movie 2.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 3</h3>
                <p>Some description of Movie 3.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 4</h3>
                <p>Some description of Movie 4.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 5</h3>
                <p>Some description of Movie 5.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 6</h3>
                <p>Some description of Movie 6.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 7</h3>
                <p>Some description of Movie 7.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 8</h3>
                <p>Some description of Movie 8.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 9</h3>
                <p>Some description of Movie 9.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 10</h3>
                <p>Some description of Movie 10.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Heroes of War_ Courage and Sacrifice.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 11</h3>
                <p>Some description of Movie 11.</p>
            </div>
        </div>
        <div class="card">
            <video class="movie-video" width="100%" controls autoplay muted loop>
                <source src="static/assets/videos/Unveiling The Future_ Tech, Mystery, Adventure.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="card-content">
                <h3>Movie Title 12</h3>
                <p>Some description of Movie 12.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy; 2024 Yu'Watch Movie. All rights reserved.</p>
    </div>
</body>
</html>
